<% layout("/layouts/boilereplate"); %>

    <div class="row">
        <div class="col-8 offset-3 mt-3">

        
    <h3>Listing Details </h3>
    </div>
    <div class="card col-4 offset-3 show-card">
        <img src="<%= listing.Image %> " class="card-img-top show-img" alt="listing_image" >
        <div class="card-body mt-3">
          <p class="card-text">
             <b><%= listing.title  %></b> <br>
             <%= listing.description  %> <br>
             <br>
             Amazon :&#8377;<%= listing.price.toLocaleString("en-IN")  %> 
             <a class="check" href="https://www.amazon.in/soundcore-Bluetooth-Headphones-Cancelling-Personalization/dp/B0C3HCD34R/ref=sr_1_1_sspa?dib=eyJ2IjoiMSJ9.51DoRHVn-9oTkFmrLLR8VQ-qPq7FrAsbtV_VSOl0anPoOiWhIv0PCOm6EktlKKq6g3lFtdk4o6QxXsF2SpJIyGUBed9jjl4QD_xmFl0LmXGz6w-7cpvAqk7-JuYEnRZLl1tWEarTdg89iDKIVCTI_uGnhF_8nXOWXPxLJ49hpY5hBgZEW4rHNCS7BsAVnE3WByemgMQvwjE8X44fP1QZbvoWkoTJUsaUcwDXvc5CEw4.fhYI7dQnTiXH1jIUC2UGtkgpKw52YRQxrPQVWGSdcG4&dib_tag=se&keywords=bluetooth+headphones&qid=1732364990&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">check</a>  <br>

             Flipkart  :&#8377;<%= listing.price1.toLocaleString("en-IN")  %>
             <a class="check" href="https://www.flipkart.com/noise-4-70-hours-playtime-enc-wiith-dual-pairing-ultra-low-latency-bluetooth/p/itmf61f598df5a86?pid=ACCGZKS7HDRBC2VM&lid=LSTACCGZKS7HDRBC2VMGTSKCN&marketplace=FLIPKART&q=bluetooth+headphones&store=0pm%2Ffcn%2Fgc3&srno=s_2_77&otracker=search&fm=organic&iid=32396f6d-0f54-48d4-9dca-6a6845ea4290.ACCGZKS7HDRBC2VM.SEARCH&ppt=sp&ppn=sp&qH=d3d3b01268520582">check</a> <br>
             <b>wanderlust</b> :&#8377;<%= listing.price1.toLocaleString("en-IN")  %> 
             <br>
            <!-- Rating / Feedback -->
             <!-- <%= listing.location  %>  --><br>
             <!-- <%= listing.country  %> -->
              <br>
        </p>
        </div>
      </div>
    <br>
    
    
   
</div>
<div class="btns">
    <a href="/listings/<%= listing._id  %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">BUY</a>

    <!-- <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-4">REDIRECT </button>
       
    </form> -->
</div>
<br><br>

